@import "../../styles/variables";
@import "../../styles/mixins";

.form {
  @include displayCenterVertical;
  border-color: $input-border-color;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}

.fieldset {
  @include displayCenterVertical;

  border-radius: 8px;
  border-color: $input-border-color;
  padding: 18px;
  margin: auto;

  @include tablet {
    padding: 20px;
  }

  @include desktop {
    padding: 20px;
  }
}

.label {
  margin-bottom: 8px;
}

.input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  font-size: 16px;

  @include tablet {
    width: 300px;
  }

  @include desktop {
    width: 400px;
  }
}
