//---------- colors ----------//
//--------- backgrounds -------//
$headerBackgroundColor: #9653d5;
$main-background-color: #fff;

//--------- buttons -------//
$default-button-color: #212121;

$main-button-color: #ffd500;
$main-button-color-hover: #d2d900;

$form-button-color: #007bff;
$form-button-color-hover: #0475ee;

//--------- text styles -------//
$textColor: #212121;

//------ input styles -------//
$input-border-color: #ccc;
