//---------- colors ----------//
//--------- backgrounds -------//
$headerBackgroundColor: #9653d5;
$main-background-color: #fff;

//--------- buttons -------//
$default-button-color: #212121;

$main-button-color: #ffd500;
$main-button-color-hover: #f6d947;

//--------- text styles -------//
$textColor: #212121;
$footerTextColor: #fff;

//------ input styles -------//
$input-border-color: #ccc;

//------- media-breakpoints -------//
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
