@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.footer {
  background-color: $headerBackgroundColor;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 16px;
}
